/*超連結*/
a, a:visited {
    color: #97CBFF; /*已訪問過的超連結顏色*/
}
body {
    background-color: #121212; /*深色底*/
    color: rgb(230, 230, 230);/*白字*/
    font-size: 16px;
    font-family: Arial, sans-serif; /*字體*/
    margin-left: 10%;
    margin-right: 10%;
}
h1 {
    text-align: left;
    font-size: 2.5em;
    margin-top: 10%;
}
hr {
    border: 0;
    border-top: 1px solid rgb(150, 150, 150);
    height: 1px;
    margin: 3% 0px 3% 0px;
}
p {
    margin: 0;
    padding-bottom: 10px;
}
.note {
    display: inline;
    font-size: 12px;
    background-color: #555555;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}
.description b{
    background: #454545;
    padding: 0px 3px;
    border-radius:2px;
}
/*標籤*/
.label {
    background-color: rgba(23, 119, 209, 0.5);          
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}
.warning {
    background-color: rgba(255, 0, 0, 0.5);          
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    font-size: 30px;
    font-style: bold;
    color: red;
    text-align: center;
/*圖片*/
img {
    width: 100%;
    border-radius: 4px;
    margin: auto;
}
/*色票&色碼*/
.colored-chart {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    vertical-align: middle;
    color: var(--color, white);/*預設文字白色*/
}
/* 方形色塊樣式 */
.colored-chart::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--color, white); /*預設方塊白色*/
    margin-left: 0.5em;
    margin-right: 0.3em;
    font-size: 1em;
}
/*NPC區間排版*/
.npc hr{
    border: 0;
    border-top: 1px solid rgb(150, 150, 150);
    height: 1px;
    margin: 3% 0px -4% 0px;
}
.npc h3{
    margin-bottom: 0.2em;
}