* {
    box-sizing: border-box; /* 確保 padding 和 border 不會超出元素寬度 */
    max-width: 100%;
}
a, a:visited {
    color: #97CBFF; /*已訪問過的超連結顏色*/
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* 禁止水平滾動 */
}
body {
    background-color: #121212; /*深色底*/
    font-family: Arial, sans-serif; /*字體*/
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* 防止水平滾動 */
    padding: 0% 5%;
}

.oc-content {
    color: rgb(230, 230, 230);/*白字*/
    font-size: 16px;
    overflow-x: hidden;    
}
h1 {
    text-align: left;
    font-size: 2.5em;
    margin-top: 10%;
}
hr {
    border: 0;
    border-top: 1px solid rgb(150, 150, 150);
    height: 1px;
    margin: 3% 0px 3% 0px;
}
p {
    margin: 0;
    padding-bottom: 10px;
}
.note {
    display: inline;
    font-size: 12px;
    background-color: #555555;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}
/*色票&色碼*/
.colored-chart {
    display: inline-flex;
    align-items: center;
    font-size: 0.8em;
    vertical-align: middle;
    color: var(--color, white);/*預設文字白色*/
}
/* 方形色塊樣式 */
.colored-chart::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--color, white); /*預設方塊白色*/
    margin-left: 0.5em;
    margin-right: 0.3em;
    font-size: 1em;
}
.description b{
    background: #454545;
    padding: 2px 3px;
    border-radius:2px;
}
/*標籤*/
.label {
    background-color: rgba(23, 119, 209, 0.5);          
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}
.warning {
    background-color: rgba(255, 0, 0, 0.5);          
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    font-size: 30px;
    font-style: bold;
    color: white;
    text-align: center;
}
/*圖片*/
img {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    margin: auto;
}
/*NPC排版*/
.npc hr{
    border: 0;
    border-top: 1px solid rgb(150, 150, 150);
    height: 1px;
    margin: 3% 0px -4% 0px;
}
.npc h3{
    margin-bottom: 0.2em;
}
/* 設定折疊按鈕樣式 */
.collapsible {
    z-index: 1080 !important;
    background-color: #777;
    color: white;
    font-size: larger;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    top: 10px;
    right: 10px;
    position: fixed;
    border-radius: 5px;
  }
/* 折疊內容的樣式 */
.content {
    position: fixed;
    top: 40px;
    right: 0;
    width: 95px;
    height: calc(100dvh - 7%);
    max-width: 100%;
    transform: translateX(100%); /*初始狀態：畫面外*/
    display: block;
    overflow-x: hidden;
    padding: 0 10px;

    /*視覺效果與樣式*/
    background-color: rgba(85, 85, 85, 0.9);
    color: #e6e6e6;
    border: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /*動畫與過渡 */
    transition: transform 0.3s ease; /*平滑過渡*/

    /* 層疊順序 */
    z-index: 1080 !important;
  }
.content h4 {
    cursor: pointer;
    font-size: 15px;
    text-align: right;
  }
/*當顯示時添加active樣式*/
.content.active {
    transform: translateX(0); /* 滑入畫面 */
    right: 10px;
    max-width: 100%;
  }
.nan {
    background-color: #B35D00;
    border-radius: 2px;
    padding: 0.1em 0.2em;
    font-weight: bold;
}
.yuan {
    background-color: #6A4C9C;
    border-radius: 2px;
    padding: 0.1em 0.2em;
    font-weight: bold;
}